@model List<AdministratorClientMVC.ViewModels.Course.AsignCourseViewModel>

@section styles {
    <link rel="stylesheet" href="~/css/input-page.css">
}

@{
    ViewData["Title"] = "Tilldela kurs";
    
}

<div class="form-container">
    <div class="header-style">
        <h1>@ViewData["Title"]</h1>
    </div>
    <form method="post" class="form-body">
        <table id="form-table">
            <tr>
                <th><input hidden type="text" value="@ViewBag.StudentId" name="id"></th>
            </tr>
            
                @for (int i = 0; i < Model!.Count(); i++)
                {
                    <tr>
                        <th><label asp-for="@Model![i].HasCourse">@Model![i].CourseTitle</label></th>
                        <th><input asp-for="@Model![i].HasCourse" type="checkbox"></th>
                        <th><input hidden type="text" asp-for="@Model![i].CourseNumber"></th>
                        <th><input hidden type="text" asp-for="@Model![i].CourseTitle"></th>
                        
                    </tr>
                }
            
        </table>
        <div class="btn-grp">
            <a asp-controller="Student" asp-action="Update" asp-route-id="@ViewBag.StudentId" class="btn">Återgå</a>
            <button type="submit" class="btn">Uppdatera</button>
        </div>
    </form>
</div>
