@{
    ViewData["Title"] = "Start";
}

@section styles {
    <link rel="stylesheet" href="~/css/start.css">
}

<h1 class="text-center heading">Välkommen till Westcoast Education sida för administratörer</h1>
